In [42]:
import pandas as pd
import numpy as np
import os

In [43]:
path = os.path.abspath(os.path.join(os.getcwd(), "..\\web-scraping\\trojmiasto-data"))
primary = pd.read_csv(path + "\\data-1-2020-11-26.csv", encoding="cp1250")
secondary = pd.read_csv(path + "\\data-2-2020-11-26.csv", encoding="cp1250")

In [44]:
primary["market"] = "pierwotny"
secondary["market"] = "wtórny"

In [45]:
df = pd.concat([primary, secondary], ignore_index=True)

In [46]:
df.head(5)

,company,address,price,sq_meter_price,area,n_rooms,floor,build_year,type,market
0,Domesta Sp. z o.o.,"Gdańsk Łostowice, Niepołomicka","359 169,10 zł",7 668 zł,"46,84",2.0,NaN,2021.0,Mieszkanie,pierwotny
1,Inpro,"Gdańsk Kokoszki, Nowatorów","341 370,72 zł",8 208 zł,"41,59",2.0,3,2022.0,Mieszkanie,pierwotny
2,Portal Office Sp. z o.o,"Gdańsk Wrzeszcz, Jaśkowa Dolina 73",451 889 zł,13 900 zł,"32,51",2.0,4,2020.0,Mieszkanie,pierwotny
3,PB SZYMICHOWSKI,"Pruszcz Gdański, Cicha",359 316 zł,6 480 zł,"55,45",3.0,3,2021.0,Mieszkanie,pierwotny
4,Tekton Capital,"Gdańsk Wrzeszcz, Migowska",795 700 zł,10 900 zł,73,4.0,Parter,2020.0,Mieszkanie,pierwotny

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23647 entries, 0 to 23646
Data columns (total 10 columns):
company           21096 non-null object
address           23646 non-null object
price             23647 non-null object
sq_meter_price    23512 non-null object
area              23635 non-null object
n_rooms           17019 non-null float64
floor             14283 non-null object
build_year        14873 non-null float64
type              23644 non-null object
market            23647 non-null object
dtypes: float64(2), object(8)
memory usage: 1.8+ MB

In [48]:
# Sort columns
df = df[['company', 'type', 'address', 'price', 'sq_meter_price', 'area', 'n_rooms', 'floor', 'build_year', 'market']]

df['price'] = df['price'].str.replace(' zł','').str.replace(' ', '').str.replace(',', '.')
df['sq_meter_price'] = df['sq_meter_price'].str.replace(' zł','').str.replace(' ', '').str.replace(',', '.')
df['area'] = df['area'].str.replace(' ', '').str.replace(',', '.')

# Dropping duplicated rows
df = df.drop_duplicates()

# Fitlering rows for type as a boolean expression
values = ['Dom bliźniak', 'Dom szeregowy', 'Dom', 'Dom wolnostojący', 'Dom rekreacyjny', 'Mieszkanie']
df = df[df.type.isin(values)]

df = df[df.address.notnull()]
df = df[df.price.notnull()]
df = df[df.sq_meter_price.notnull()]
df = df[df.area.notnull()]
df = df[df.n_rooms.notnull()]

df['address'] = df['address'].astype(str).str.replace(u'\xa0', ' ')
df['address'] = df['address'].astype(str).str.replace(u'  ', ' ')

df['floor'] = df['floor'].fillna(0)
df['floor'] = df['floor'].replace('Parter', 0)
df['build_year'] = df['build_year'].fillna(0)

df['build_year'] = df['build_year'].astype(np.int64)
df['n_rooms'] = df['n_rooms'].astype(np.int64)

df.head()

,company,type,address,price,sq_meter_price,area,n_rooms,floor,build_year,market
0,Domesta Sp. z o.o.,Mieszkanie,"Gdańsk Łostowice, Niepołomicka",359169.10,7668,46.84,2,0,2021,pierwotny
1,Inpro,Mieszkanie,"Gdańsk Kokoszki, Nowatorów",341370.72,8208,41.59,2,3,2022,pierwotny
2,Portal Office Sp. z o.o,Mieszkanie,"Gdańsk Wrzeszcz, Jaśkowa Dolina 73",451889,13900,32.51,2,4,2020,pierwotny
3,PB SZYMICHOWSKI,Mieszkanie,"Pruszcz Gdański, Cicha",359316,6480,55.45,3,3,2021,pierwotny
4,Tekton Capital,Mieszkanie,"Gdańsk Wrzeszcz, Migowska",795700,10900,73,4,0,2020,pierwotny

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15187 entries, 0 to 23640
Data columns (total 10 columns):
company           13613 non-null object
type              15187 non-null object
address           15187 non-null object
price             15187 non-null object
sq_meter_price    15187 non-null object
area              15187 non-null object
n_rooms           15187 non-null int64
floor             15187 non-null object
build_year        15187 non-null int64
market            15187 non-null object
dtypes: int64(2), object(8)
memory usage: 1.3+ MB

In [41]:
# # dropping null value columns to avoid errors 
# # data.dropna(inplace = True) 
  
# # new data frame with split value columns 
# new = df["address"].str.split(",", n = 1, expand = True) 
  
# # making separate first name column from new data frame 
# df["city"]= new[0] 
  
# # making separate last name column from new data frame 
# df["street"]= new[1] 
  
# # Dropping old Name columns 
# df.drop(columns =["address"], inplace = True) 
  
# # df display 
# df